.wide-form-field {
  width: 100%;
  margin: 1rem 0;
}

.mat-row {
  margin: 1rem;
  padding: 1rem;
}

.dot {
  height: 25px;
  width: 25px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
}